.dropdown {
  position: absolute;
  z-index: 9999999;
  display: none;

  .dropdown-menu {
    min-width: 160px;
    max-width: 360px;
    list-style: none;
    background: #FFF;
    border: solid 1px #DDD;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: visible;
    padding: 4px 0;
    margin: 0;
  }

  .dropdown-panel {
    min-width: 160px;
    max-width: 360px;
    list-style: none;
    background: #FFF;
    border: solid 1px #DDD;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: visible;
    padding: 4px 0;
    margin: 0;
    padding: 10px;
  }

  &.dropdown-tip {
    margin-top: 8px;
    &:before {
      position: absolute;
      top: -6px;
      left: 9px;
      content: '';
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #CCC;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      display: inline-block;
    }
    &.dropdown-anchor-right:before {
      left: auto;
      right: 9px;
    }
    &:after {
      position: absolute;
      top: -5px;
      left: 10px;
      content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #FFF;
      display: inline-block;
    }
    &.dropdown-anchor-right:after {
      left: auto;
      right: 10px;
    }
  }
  &.dropdown-scroll {
    .dropdown-menu, .dropdown-panel {
      max-height: 358px;
      overflow: auto;
    }
  }
  .dropdown-menu {
    LI {
      list-style: none;
      padding: 0 0;
      margin: 0;
      line-height: 18px;
      > A {
        display: block;
        color: #555;
        text-decoration: none;
        line-height: 18px;
        padding: 3px 15px;
        white-space: nowrap;
      }
    }
    LABEL {
      display: block;
      color: #555;
      text-decoration: none;
      line-height: 18px;
      padding: 3px 15px;
      white-space: nowrap;
    }
    LI > A:hover, LABEL:hover {
      background-color: #08C;
      color: #FFF;
      cursor: pointer;
    }
    .dropdown-divider {
      font-size: 1px;
      border-top: solid 1px #E5E5E5;
      padding: 0;
      margin: 5px 0;
    }
  }
}

#user-dropdown {
  @include font-arial;
  font-size: 14px;
  margin: 20px 0 0 -65px;
  a {
    font-weight: normal;
    font-size: 1em;
  }
  .dropdown-menu {
    background: #f2f2f2; 
    li {
      padding: 3px 0;
    }
    li > a, label {
      color: #666;
      &:hover {
        background-color: #3f3636;
        color: #fff;
      }
    }
  }
  &.dropdown-tip:after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #f2f2f2;
    left: 85px;
  }
  &.dropdown-tip:before {
    border: none;
  }
}
