@include sticky-footer(229px, "#page", "#page-footer", "#footer-wrapper" );

#footer-wrapper {
  background: #1e1819;
  #footer {
    @include container;
    color: #878787;
    height: 100%;
    p {
      margin: 3px 0;
    }
    .bigger {
      font-size: 1.1em;
      margin-bottom: 5px;
    }
    .highlight {
      color: $white;
    }
    .left {
      @include column(7);
      margin-top:10px;
    }
    .right {
      @include prepend(2);
      @include column(7, true);
      margin-top:20px;
    }

    .text {
      @include font-italic;
    }
    .copyright {
      @include prepend(3);
      @include column(11);
      margin-top: 35px;
      clear:both;
    }
  }
}
