input[type=submit] { 
  @include button-green;
  @include font-italic;
  height: 40px;
  width: span(6);
  margin-top: 25px;
  cursor: pointer;
  font-size: 17px;
}

input[type=text], input[type=password], input[type=email] {
  @include font-italic;
  background: #e7e7e7;
  padding: 0 0 0 10px;
  width: span(6) - 10px;
  border: none;
  border-radius: 3px;
  display: block;
  font-size: 18px;
  height: 40px;
}

textarea {
  @include font-italic;
  background: #e7e7e7;
  padding: 10px 0 0 10px;
  width: span(6) - 10px;
  border: none;
  border-radius: 3px;
  display: block;
  font-size: 16px;
}

select {
  @include font-italic;
  background: #e7e7e7;
  border: none;
  height: 40px;
  padding: 0px 0px 0px 9px;
  display:block;
  width: span(4);
  font-size: 18px;
}

label {
  @include font-italic;
  color: $light; 
  display:block;
  font-size:17px;
  margin-top:10px;
  padding: 0 0 5px 15px;
}

#login {
  @include prepend(4);
  @include column(12, true);
  margin-top:70px;

  form {
    width: span(5) + 19px;
    border-right: 1px solid #8f8580;
    float: left;
  }

  .info {
    width: span(5);
    margin: 0 0 0 21px;
    color: $gray;
    float: left;
    .or_enter {
      @include font-italic;
    }
  }

  .register {
    p {
      color: $gray;
    }  
  }
  .soc-icon {
    margin: 0 11px 0 0; 
  }

  p {
    margin: 5px 0 7px 0;
  }

  .forgot-password {
    color: gray;
    font-size: 0.9em;
    margin-left: 85px;
  }

  .register {
    @include font-italic;
    float:left;
    font-size: 17px;
    margin: 20px 0 0 215px;
    a {
      margin: 0 0 0 20px;
      color: $dark-lighter;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  input[type=text], input[type=password] {
    padding-left: 10px;
    width: span(5) - 10px;
  }

  input[type=submit] {
    width: span(5);
  }

  input {
    display:block;
  }

  h1 {
    @include font-italic;
    color: $brown2;
    text-align:center;
    margin-right: 100px;
  }

}

#registration {
  @include prepend(4);
  @include column(7);
  margin-top: 55px;
  h1 {
    @include font-italic;
    color: $brown2;
    text-align: center;
    margin-left: 60px;
  }
  input, label {
    margin-left: 60px;
  }
}

#new-post, #edit-post {
  input[type=submit] {
    cursor: pointer;
  }
  #post_title, #post_genre {
    margin-bottom: 20px;
  }
  #post_content {
    width: 100%;
    @include font-arial;
  }
  .info {
    @include column(7);
  }
  .content {
    @include column(8, true);
  }
  input[type=checkbox] {
    float: left;
  }
}
