#head-wrapper {
  background: $light image-url('vegetables.png') no-repeat 80px 13px;
}

#head {
  @include container;
  height: $header-height;
}

#logo {
  @include column(5);
  margin-top:9px;
}

#user {
  img {
    width: $col + $col-margin;
    margin-top: 2px;
  }
}

ul#nav {
  @include column(10);
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;

  li {
    @include font-italic;
    width: span(2) + 4px;

    display: table;
    height: 100%;
    float: left;
    text-align: center;

    a { 
      color: $dark-lighter; 
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      font-size: 1em;
      font-weight: normal;
      &:hover, &:active {
        font-weight: normal;
        color: $dark-lighter; 
        text-decoration: none;
      }
    }
    &.current {
      position: relative;
      &:after {
        border-bottom: $dark2 10px solid;
        border-left: transparent 9px solid;
        border-right: transparent 9px solid;
        content: " ";
        height: 0;
        width: 0;
        left: span(1);
        bottom: -1px;
        position: absolute;
      }
      a {
        color: $black;
      }
    }
  }
}

#search-btn {
  @include column(1, true);
  img {
    cursor: pointer;
    float:right;
    margin-top:23px; 
  }
}
