@each $icn in pencil {
  .icn16w-#{$icn} {
    width: 16px;
    height: 16px;
    background-color: transparent;
    background-image: image-url("glyphs-white/#{$icn}.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
  }
}

@each $icn in author_posts, author_rating, comments, rating, people_voted, views {
  .icn-#{$icn} {
    width: 16px;
    height: 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: image-url("icons/#{$icn}.png");
    background-position: 0 0;
    display: inline-block;
  }
}
