.inbox {
  .links {
    @include column(4);
  }
  .messages {
    @include column(12, true);
    .reply { 
      display:block;
      margin-bottom: 7px;
    }
    .content {
      margin-top:20px;
      height: 400px;
      ul {
        list-style: none;
        padding:0;
        li {
          margin: 7px 0 0 5px;
        }
      }
    
    }
  }
}
