#nojs_nav {
  @include container;
  color: $light;
  a {
    color: $light;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
  list-style:none;
  margin:0;
  padding:0;
  display:block;
    li {
      margin-left: 10px;
      float:left;
    }
  }
}
