.field_with_errors {
  display: inline;
}

.flash-messages {
  @include container;
  .messages { 
    font-weight: bold; 
  }
  .flash-notice, .flash-error, .flash-alert { 
    @include column(8);
    padding-left:7px;
  }
}
