body {
  background: $dark2 image-url('pattern.png');
}
a { 
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
h1, h2 {
  color: $light; 
}

h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 15px 0;
}

#page {
  @include font-normal;
  width: 100%;
  padding:0;
  margin:0;
}
