.post, #post {
  margin-top: 20px;
  a:hover {
    text-decoration: underline;
  }
  .vote {
    @include font-arial;
    background: #332b2c;
    width: 32px;
    text-align: center;
    position: relative;
    margin: 20px 0 0 15px;
    border: 4px solid #675E57;
    font-size:30px;
    color: #ccc;
    &:after {
      content: " ";
      height: 0;
      width: 0;
      border-right: 7px #675E57 solid;
      border-top: 7px transparent solid;
      border-bottom: 7px transparent solid;
      position: absolute;
      top: 26px;
      left: -11px;
    }
    hr {
      margin:0;
      padding:0 ;
      height: 3px;
      border: none;
      background: #675E57;
    }
    a {
      color: white;
      text-decoration: none;
      font-weight: normal;
    }
    .plus {
      display:block;
      color: #ccc;
      background: none;
      &:hover {
        background: #89af00;
      }
      &:active {
        background: #648000;
      }
    }

    .minus {
      display: block;
      color: #ccc;
      background: none;
      &:hover {
        background: #c82600;
      } 
      &:active {
        background: #941b00;
      }
    }
  }
  .author {
    @include column(2);
    @include post-shadow;
    height: $post-height;
    background-color: $brown;
    overflow-x: visible;
    position: relative;

    img {
      display: block;
      margin: 8px 0 0 8px;
    }
    .nickname {
      @include font-italic;
      color: $white;
      display: block;
      text-align: center;
      font-size: 14px;
      font-weight: normal;
      margin-top: 12px;
    }
    .rating {
      height: 30px;
      position: absolute;
      width: 100%;
      bottom: 0;
      background-color: $brown-darker;
      .icn1, .icn2, .text1, .text2 {
        float:left;
        margin-top:5px;
      }
      .text1, .text2 {
        @include font-arial;
        font-size: 14px;
        font-weight: bold;
        margin-left: 3px;
        margin-bottom: 2px;
      }
      .icn1 {
        margin-left: 7px;
      }
      .icn2 {
        margin-left: 17px;
      }
    }
  }
  .wrap {
    @include column(14, true);
    @include post-shadow;
    background-color: $brown;
    overflow: visible;
    position: relative;

    // Arrow
    &:after {
      border-right: 10px solid $brown;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      content: " ";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top:42px;
      left:-10px;
      z-index: 100;
    }

    .bookmark {
      width: 25px; 
      float: right; 
      height: 34px; 
      display: block; 
      margin-right: 18px;
      background: image-url("bookmark-not-checked.png");
      &:hover, &:active {
        background: image-url("bookmark-checked.png");
      }
      &.checked-fix {
        background: image-url("bookmark-checked.png");
      }
      &.checked {
        background: image-url("bookmark-checked.png");
        &:hover, &:active {
          background: image-url("bookmark-not-checked.png");
        }
      }
    }

    .meta {
      background: $brown-darker;
      color: $brown-lighter;
      font-weight: bold;
      @include font-arial;
      height: 26px;
      .icn1, .icn2, .icn3, .icn4 {
        float: left;
        margin-top: 5px;
        display: inline-block;
      }
      .genre {
        font-weight: normal;
        margin-left: 15px;
        @include font-italic;
      }
      .text, .genre {
        font-size: 14px;
        float:left;
        margin-top: 5px;
        display: inline-block;
      }
      .icn1 {
        margin-left: 15px;
      }
      .icn3, .icn2, .icn4 {
        margin-left: 20px;
      }
      .text {
        margin-left: 5px;
      }
      .date {
        float:right;
        margin: 2px 10px 0 0;
        font-weight: normal;
        font-size: 16px;
        @include font-italic;
      }
    }
    .more {
      height: 15px;
      width: 52px;
      float: left;
      clear: both;
      margin: 0 0 0 360px;
      position: absolute;
      bottom: -15px;
      background-color: $brown;
      @include border-bottom-radius(3px);
      cursor: pointer;
      &:hover {
        &:after {
          border-top: 7px #cbc3bd solid;
        }
      }

      &:after {
        content: " ";
        height: 0;
        width: 0;
        border-top: 7px #3f3636 solid;
        border-right: 7px transparent solid;
        border-left: 7px transparent solid;
        position: absolute;
        top: 0px;
        left: 38%;
      }
    }
    .content {
      float: left;
      width: span(13) + 20px;
      padding: 16px 20px 9px 20px;
      p {
        margin: 0;
      }

      .header {
        @include font-italic;
        color: $white; 
        margin: 0;
        font-size: 26px;
        border-bottom: 1px solid #7E756F;
        
        padding: 0 0 17px 0;
        line-height: 9px;
        a {
          color: $light;
          font-weight: normal;
        }
      }
      .text {
        @include font-arial;
        color: $light; 
        float: left;
        clear: both;
        padding: 8px 0 0 0;
        font-size: 15px;
        line-height: 19px;
        overflow: hidden;
        height: 80px;
        &.closed {
          height: 90px;
        }
        &.opened {
          height: auto;
        }
        p {
          margin: 0 0 1em 0;
        }
      }
    }
  }
}
