#search-box {
  width: 220px;
  height: 34px;
  background-color: #4f4f4f;
  &::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #4f4f4f;
    border-left: 9px solid transparent;
    z-index: 100;
    margin-left: 189px;
    margin-top: -39px;
  }

  input[type=text] {
    margin: 5px 0 0 5px;
    border:none;
    height:24px;
    padding-left: 6px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: #e4e4e4;
    width:164px;
  }
  span { 
    cursor: pointer;
    margin-left: 9px;
    color: #a6a6a6;
    &:hover {
      color: #f2f2f2;
    }
  }
}
