#login
  %h1=t 'common.enter'
  =form_for resource, 
    :as => resource_name, 
    :url => session_path(resource_name, 
                         login_for_omniauth: params[:login_for_omniauth], 
                         provider: params[:provider]) do |f|

    =f.label :login, t('common.nickname_or_email')
    =f.text_field :login, :autofocus => true

    %label
      Пароль
      = link_to "Забули пароль?", new_user_password_path, class: "forgot-password"
      -# %a.forgot-password{href: "javascript:void(0);"} Забули пароль?
    =f.password_field :password

    =f.submit t('shared.dialogs.Enter')

  - if params[:login_for_omniauth] && params[:provider]
    .info
      - provider = params[:provider]
      %p.or_enter
        Зараз вам необхідно прив’язати ваш акаунт <b>#{provider.to_s.humanize}</b>
        до тутешнього акаунту. Для цього вам треба корректно ввести ваші дані.
        Після цього, можна буде заходити через <b>#{provider.to_s.humanize}</b>.
  - else
    .info
      %p.or_enter Або увійти одним кліком через:
      = link_to user_omniauth_authorize_path("vkontakte"), class: 'soc-icon' do
        = image_tag 'icons/vk.png'
      = link_to user_omniauth_authorize_path("facebook"), class: 'soc-icon' do
        = image_tag "icons/fb.png"
      = link_to user_omniauth_authorize_path("twitter"), class: 'soc-icon' do
        = image_tag "icons/twitter.png"
      %p
        Одна або декілька із цих соц-мереж можуть
        бути приєднані до вашого акаунту Літературної Грядки.
        Ми допоможемо вам це зробити!
        Просто клікніть на іконку соц-мережі.
    .register{style: "clear:both;"}
      %p Ще не зареєстровані?
      = link_to t('common.register2'), new_user_registration_path
