@include font-face("Georgia1 Italic", font-files("georgiai.ttf"));
@include font-face("Georgia1", font-files("georgia.ttf"));

@mixin font-italic {
  font-family: "Georgia1 Italic", serif;
}
@mixin font-normal {
  font-family: "Georgia", "Georgia1";
}
@mixin font-arial {
  font-family: "Arial", sans-serif;
}
