@import 'globals/fonts-mixins';

@mixin selection($color, $background) {
  @each $prefix in ("-webkit-", "-moz-", "-o-", "") {
    ::#{$prefix}selection {
      color: $color;
      background: $background;
    }
  }
}

@mixin button-gray {
  background-color:#ededed;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:2px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:Georgia;
  font-size:16px;
  font-weight:bold;
  padding:4px 24px;
  text-decoration:none;
  &:hover {
    background-color:#dfdfdf;
  }
  &:active {
    position:relative;
    top:1px;
  }
}

@mixin button-green {
  -moz-box-shadow: inset 0px 0px 0px 0px #c1ed9c;
  -webkit-box-shadow: inset 0px 0px 0px 0px #c1ed9c;
  box-shadow: inset 0px 0px 0px 0px #c1ed9c;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #709c00), color-stop(1, #608900) );
  background: -moz-linear-gradient( center top, #709c00 5%, #608900 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#709c00', endColorstr='#608900');
  background-color: #709c00;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  padding: 8px 15px;
  text-decoration: none;
  border:none;

  &:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #608900), color-stop(1, #709c00) );
    background:-moz-linear-gradient( center top, #608900 5%, #709c00 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#608900', endColorstr='#709c00');
    background-color:#608900;
  }
  &:active {
    position:relative;
    top:1px;
  }
}

@mixin post-shadow {
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), 0px 2px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), 0px 2px 8px rgba(0, 0, 0, 0.3);
}
