// Grid variables
$blueprint-grid-columns: 16;
$blueprint-grid-width: 40px;
$blueprint-grid-margin: 20px;

$col: $blueprint-grid-width;
$col-margin: $blueprint-grid-margin;

$header-dark: #3a3a3a;
$header-height: 65px;

$post-height: 168px;
$post-background: #e4e4e4;

$white: #fff;
$green: #658e09;
$light: #f2f2f2;
$dark-lighter: #808080 ;
$dark: #666;
$dark2: #3a3837;
$brown: #675e57;
$black: #000;
$gray: #e7e7e7;
$brown2: #aaa29d;
$brown-darker: #554b44;
$brown-lighter: #cbc3bd;

$footer-color: #1e1819;

@import "blueprint/grid";
