/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 14, ../../../app/assets/stylesheets/v2/main.scss */
html, button, input, select, textarea {
  color: #222;
}

/* line 18, ../../../app/assets/stylesheets/v2/main.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 29, ../../../app/assets/stylesheets/v2/main.scss */
::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 38, ../../../app/assets/stylesheets/v2/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 51, ../../../app/assets/stylesheets/v2/main.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 59, ../../../app/assets/stylesheets/v2/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 69, ../../../app/assets/stylesheets/v2/main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 77, ../../../app/assets/stylesheets/v2/main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Georgia1 Italic";
  src: url(/assets/georgiai.ttf) format('truetype');
}

@font-face {
  font-family: "Georgia1";
  src: url(/assets/georgia.ttf) format('truetype');
}

/* line 1, ../../../app/assets/stylesheets/v2/_page.scss */
body {
  background: #3a3837 url(/assets/pattern.png);
}

/* line 4, ../../../app/assets/stylesheets/v2/_page.scss */
a {
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
}
/* line 9, ../../../app/assets/stylesheets/v2/_page.scss */
a:hover {
  text-decoration: underline;
}

/* line 13, ../../../app/assets/stylesheets/v2/_page.scss */
h1, h2 {
  color: #f2f2f2;
}

/* line 17, ../../../app/assets/stylesheets/v2/_page.scss */
h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 15px 0;
}

/* line 23, ../../../app/assets/stylesheets/v2/_page.scss */
#page {
  font-family: "Georgia", "Georgia1";
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 1, ../../../app/assets/stylesheets/v2/_head.scss */
#head-wrapper {
  background: #f2f2f2 url(/assets/vegetables.png) no-repeat 80px 13px;
}

/* line 5, ../../../app/assets/stylesheets/v2/_head.scss */
#head {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  height: 65px;
}

/* line 10, ../../../app/assets/stylesheets/v2/_head.scss */
#logo {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 280px;
  margin-top: 9px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #logo {
  overflow-x: hidden;
}

/* line 16, ../../../app/assets/stylesheets/v2/_head.scss */
#user img {
  width: 60px;
  margin-top: 2px;
}

/* line 22, ../../../app/assets/stylesheets/v2/_head.scss */
ul#nav {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 580px;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html ul#nav {
  overflow-x: hidden;
}
/* line 29, ../../../app/assets/stylesheets/v2/_head.scss */
ul#nav li {
  font-family: "Georgia1 Italic", serif;
  width: 104px;
  display: table;
  height: 100%;
  float: left;
  text-align: center;
}
/* line 38, ../../../app/assets/stylesheets/v2/_head.scss */
ul#nav li a {
  color: gray;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
}
/* line 46, ../../../app/assets/stylesheets/v2/_head.scss */
ul#nav li a:hover, ul#nav li a:active {
  font-weight: normal;
  color: gray;
  text-decoration: none;
}
/* line 52, ../../../app/assets/stylesheets/v2/_head.scss */
ul#nav li.current {
  position: relative;
}
/* line 54, ../../../app/assets/stylesheets/v2/_head.scss */
ul#nav li.current:after {
  border-bottom: #3a3837 10px solid;
  border-left: transparent 9px solid;
  border-right: transparent 9px solid;
  content: " ";
  height: 0;
  width: 0;
  left: 40px;
  bottom: -1px;
  position: absolute;
}
/* line 65, ../../../app/assets/stylesheets/v2/_head.scss */
ul#nav li.current a {
  color: black;
}

/* line 72, ../../../app/assets/stylesheets/v2/_head.scss */
#search-btn {
  display: inline;
  float: left;
  margin-right: 0;
  width: 40px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #search-btn {
  overflow-x: hidden;
}
/* line 74, ../../../app/assets/stylesheets/v2/_head.scss */
#search-btn img {
  cursor: pointer;
  float: right;
  margin-top: 23px;
}

/* line 10, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#page {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -229px;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#page #page-footer {
  height: 229px;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer-wrapper {
  clear: both;
  position: relative;
  height: 229px;
}

/* line 3, ../../../app/assets/stylesheets/v2/_footer.scss */
#footer-wrapper {
  background: #1e1819;
}
/* line 5, ../../../app/assets/stylesheets/v2/_footer.scss */
#footer-wrapper #footer {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  color: #878787;
  height: 100%;
}
/* line 9, ../../../app/assets/stylesheets/v2/_footer.scss */
#footer-wrapper #footer p {
  margin: 3px 0;
}
/* line 12, ../../../app/assets/stylesheets/v2/_footer.scss */
#footer-wrapper #footer .bigger {
  font-size: 1.1em;
  margin-bottom: 5px;
}
/* line 16, ../../../app/assets/stylesheets/v2/_footer.scss */
#footer-wrapper #footer .highlight {
  color: white;
}
/* line 19, ../../../app/assets/stylesheets/v2/_footer.scss */
#footer-wrapper #footer .left {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 400px;
  margin-top: 10px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer-wrapper #footer .left {
  overflow-x: hidden;
}
/* line 23, ../../../app/assets/stylesheets/v2/_footer.scss */
#footer-wrapper #footer .right {
  padding-left: 120px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 400px;
  margin-top: 20px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer-wrapper #footer .right {
  overflow-x: hidden;
}
/* line 29, ../../../app/assets/stylesheets/v2/_footer.scss */
#footer-wrapper #footer .text {
  font-family: "Georgia1 Italic", serif;
}
/* line 32, ../../../app/assets/stylesheets/v2/_footer.scss */
#footer-wrapper #footer .copyright {
  padding-left: 180px;
  display: inline;
  float: left;
  margin-right: 20px;
  width: 640px;
  margin-top: 35px;
  clear: both;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer-wrapper #footer .copyright {
  overflow-x: hidden;
}

/* line 1, ../../../app/assets/stylesheets/v2/_content.scss */
#content {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  color: #f2f2f2;
  padding-bottom: 100px;
}
/* line 5, ../../../app/assets/stylesheets/v2/_content.scss */
#content .pagetitle {
  color: #aaa29d;
  font-weight: normal;
  font-family: "Georgia1 Italic", serif;
}

/* line 1, ../../../app/assets/stylesheets/v2/_search.scss */
#search-box {
  width: 220px;
  height: 34px;
  background-color: #4f4f4f;
}
/* line 5, ../../../app/assets/stylesheets/v2/_search.scss */
#search-box::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #4f4f4f;
  border-left: 9px solid transparent;
  z-index: 100;
  margin-left: 189px;
  margin-top: -39px;
}
/* line 18, ../../../app/assets/stylesheets/v2/_search.scss */
#search-box input[type=text] {
  margin: 5px 0 0 5px;
  border: none;
  height: 24px;
  padding-left: 6px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  background-color: #e4e4e4;
  width: 164px;
}
/* line 28, ../../../app/assets/stylesheets/v2/_search.scss */
#search-box span {
  cursor: pointer;
  margin-left: 9px;
  color: #a6a6a6;
}
/* line 32, ../../../app/assets/stylesheets/v2/_search.scss */
#search-box span:hover {
  color: #f2f2f2;
}

/* line 2, ../../../app/assets/stylesheets/v2/_icons.scss */
.icn16w-pencil {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url(/assets/glyphs-white/pencil.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
}

/* line 14, ../../../app/assets/stylesheets/v2/_icons.scss */
.icn-author_posts {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(/assets/icons/author_posts.png);
  background-position: 0 0;
  display: inline-block;
}

/* line 14, ../../../app/assets/stylesheets/v2/_icons.scss */
.icn-author_rating {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(/assets/icons/author_rating.png);
  background-position: 0 0;
  display: inline-block;
}

/* line 14, ../../../app/assets/stylesheets/v2/_icons.scss */
.icn-comments {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(/assets/icons/comments.png);
  background-position: 0 0;
  display: inline-block;
}

/* line 14, ../../../app/assets/stylesheets/v2/_icons.scss */
.icn-rating {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(/assets/icons/rating.png);
  background-position: 0 0;
  display: inline-block;
}

/* line 14, ../../../app/assets/stylesheets/v2/_icons.scss */
.icn-people_voted {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(/assets/icons/people_voted.png);
  background-position: 0 0;
  display: inline-block;
}

/* line 14, ../../../app/assets/stylesheets/v2/_icons.scss */
.icn-views {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(/assets/icons/views.png);
  background-position: 0 0;
  display: inline-block;
}

/* line 1, ../../../app/assets/stylesheets/v2/_nojs.scss */
#nojs_nav {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  color: #f2f2f2;
}
/* line 4, ../../../app/assets/stylesheets/v2/_nojs.scss */
#nojs_nav a {
  color: #f2f2f2;
}
/* line 6, ../../../app/assets/stylesheets/v2/_nojs.scss */
#nojs_nav a:hover {
  text-decoration: underline;
}
/* line 10, ../../../app/assets/stylesheets/v2/_nojs.scss */
#nojs_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
/* line 15, ../../../app/assets/stylesheets/v2/_nojs.scss */
#nojs_nav ul li {
  margin-left: 10px;
  float: left;
}

/* line 1, ../../../app/assets/stylesheets/v2/_notifications.scss */
.field_with_errors {
  display: inline;
}

/* line 5, ../../../app/assets/stylesheets/v2/_notifications.scss */
.flash-messages {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 7, ../../../app/assets/stylesheets/v2/_notifications.scss */
.flash-messages .messages {
  font-weight: bold;
}
/* line 10, ../../../app/assets/stylesheets/v2/_notifications.scss */
.flash-messages .flash-notice, .flash-messages .flash-error, .flash-messages .flash-alert {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 460px;
  padding-left: 7px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .flash-messages .flash-notice, * html .flash-messages .flash-error, * html .flash-messages .flash-alert {
  overflow-x: hidden;
}

/* line 2, ../../../app/assets/stylesheets/v2/_inbox.scss */
.inbox .links {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 220px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .inbox .links {
  overflow-x: hidden;
}
/* line 5, ../../../app/assets/stylesheets/v2/_inbox.scss */
.inbox .messages {
  display: inline;
  float: left;
  margin-right: 0;
  width: 700px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .inbox .messages {
  overflow-x: hidden;
}
/* line 7, ../../../app/assets/stylesheets/v2/_inbox.scss */
.inbox .messages .reply {
  display: block;
  margin-bottom: 7px;
}
/* line 11, ../../../app/assets/stylesheets/v2/_inbox.scss */
.inbox .messages .content {
  margin-top: 20px;
  height: 400px;
}
/* line 14, ../../../app/assets/stylesheets/v2/_inbox.scss */
.inbox .messages .content ul {
  list-style: none;
  padding: 0;
}
/* line 17, ../../../app/assets/stylesheets/v2/_inbox.scss */
.inbox .messages .content ul li {
  margin: 7px 0 0 5px;
}

/* line 2, ../../../app/assets/stylesheets/v2/_comments.scss */
#comments h1 {
  margin: 15px 0 15px 0;
}
/* line 5, ../../../app/assets/stylesheets/v2/_comments.scss */
#comments .comment {
  margin-top: 20px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 940px;
}
/* line 8, ../../../app/assets/stylesheets/v2/_comments.scss */
#comments .comment .info .author {
  font-weight: bold;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #comments .comment {
  overflow-x: hidden;
}

/* line 1, ../../../app/assets/stylesheets/v2/_posts.scss */
.post, #post {
  margin-top: 20px;
}
/* line 3, ../../../app/assets/stylesheets/v2/_posts.scss */
.post a:hover, #post a:hover {
  text-decoration: underline;
}
/* line 6, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .vote, #post .vote {
  font-family: "Arial", sans-serif;
  background: #332b2c;
  width: 32px;
  text-align: center;
  position: relative;
  margin: 20px 0 0 15px;
  border: 4px solid #675e57;
  font-size: 30px;
  color: #ccc;
}
/* line 16, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .vote:after, #post .vote:after {
  content: " ";
  height: 0;
  width: 0;
  border-right: 7px #675e57 solid;
  border-top: 7px transparent solid;
  border-bottom: 7px transparent solid;
  position: absolute;
  top: 26px;
  left: -11px;
}
/* line 27, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .vote hr, #post .vote hr {
  margin: 0;
  padding: 0;
  height: 3px;
  border: none;
  background: #675E57;
}
/* line 34, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .vote a, #post .vote a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}
/* line 39, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .vote .plus, #post .vote .plus {
  display: block;
  color: #ccc;
  background: none;
}
/* line 43, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .vote .plus:hover, #post .vote .plus:hover {
  background: #89af00;
}
/* line 46, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .vote .plus:active, #post .vote .plus:active {
  background: #648000;
}
/* line 51, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .vote .minus, #post .vote .minus {
  display: block;
  color: #ccc;
  background: none;
}
/* line 55, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .vote .minus:hover, #post .vote .minus:hover {
  background: #c82600;
}
/* line 58, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .vote .minus:active, #post .vote .minus:active {
  background: #941b00;
}
/* line 63, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .author, #post .author {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 100px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), 0px 2px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), 0px 2px 8px rgba(0, 0, 0, 0.3);
  height: 168px;
  background-color: #675e57;
  overflow-x: visible;
  position: relative;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .post .author, * html #post .author {
  overflow-x: hidden;
}
/* line 71, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .author img, #post .author img {
  display: block;
  margin: 8px 0 0 8px;
}
/* line 75, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .author .nickname, #post .author .nickname {
  font-family: "Georgia1 Italic", serif;
  color: white;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  margin-top: 12px;
}
/* line 84, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .author .rating, #post .author .rating {
  height: 30px;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #554b44;
}
/* line 90, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .author .rating .icn1, .post .author .rating .icn2, .post .author .rating .text1, .post .author .rating .text2, #post .author .rating .icn1, #post .author .rating .icn2, #post .author .rating .text1, #post .author .rating .text2 {
  float: left;
  margin-top: 5px;
}
/* line 94, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .author .rating .text1, .post .author .rating .text2, #post .author .rating .text1, #post .author .rating .text2 {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-left: 3px;
  margin-bottom: 2px;
}
/* line 101, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .author .rating .icn1, #post .author .rating .icn1 {
  margin-left: 7px;
}
/* line 104, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .author .rating .icn2, #post .author .rating .icn2 {
  margin-left: 17px;
}
/* line 109, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap, #post .wrap {
  display: inline;
  float: left;
  margin-right: 0;
  width: 820px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), 0px 2px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), 0px 2px 8px rgba(0, 0, 0, 0.3);
  background-color: #675e57;
  overflow: visible;
  position: relative;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .post .wrap, * html #post .wrap {
  overflow-x: hidden;
}
/* line 117, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap:after, #post .wrap:after {
  border-right: 10px solid #675e57;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  content: " ";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 42px;
  left: -10px;
  z-index: 100;
}
/* line 131, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .bookmark, #post .wrap .bookmark {
  width: 25px;
  float: right;
  height: 34px;
  display: block;
  margin-right: 18px;
  background: url(/assets/bookmark-not-checked.png);
}
/* line 138, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .bookmark:hover, .post .wrap .bookmark:active, #post .wrap .bookmark:hover, #post .wrap .bookmark:active {
  background: url(/assets/bookmark-checked.png);
}
/* line 141, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .bookmark.checked-fix, #post .wrap .bookmark.checked-fix {
  background: url(/assets/bookmark-checked.png);
}
/* line 144, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .bookmark.checked, #post .wrap .bookmark.checked {
  background: url(/assets/bookmark-checked.png);
}
/* line 146, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .bookmark.checked:hover, .post .wrap .bookmark.checked:active, #post .wrap .bookmark.checked:hover, #post .wrap .bookmark.checked:active {
  background: url(/assets/bookmark-not-checked.png);
}
/* line 152, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .meta, #post .wrap .meta {
  background: #554b44;
  color: #cbc3bd;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  height: 26px;
}
/* line 158, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .meta .icn1, .post .wrap .meta .icn2, .post .wrap .meta .icn3, .post .wrap .meta .icn4, #post .wrap .meta .icn1, #post .wrap .meta .icn2, #post .wrap .meta .icn3, #post .wrap .meta .icn4 {
  float: left;
  margin-top: 5px;
  display: inline-block;
}
/* line 163, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .meta .genre, #post .wrap .meta .genre {
  font-weight: normal;
  margin-left: 15px;
  font-family: "Georgia1 Italic", serif;
}
/* line 168, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .meta .text, .post .wrap .meta .genre, #post .wrap .meta .text, #post .wrap .meta .genre {
  font-size: 14px;
  float: left;
  margin-top: 5px;
  display: inline-block;
}
/* line 174, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .meta .icn1, #post .wrap .meta .icn1 {
  margin-left: 15px;
}
/* line 177, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .meta .icn3, .post .wrap .meta .icn2, .post .wrap .meta .icn4, #post .wrap .meta .icn3, #post .wrap .meta .icn2, #post .wrap .meta .icn4 {
  margin-left: 20px;
}
/* line 180, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .meta .text, #post .wrap .meta .text {
  margin-left: 5px;
}
/* line 183, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .meta .date, #post .wrap .meta .date {
  float: right;
  margin: 2px 10px 0 0;
  font-weight: normal;
  font-size: 16px;
  font-family: "Georgia1 Italic", serif;
}
/* line 191, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .more, #post .wrap .more {
  height: 15px;
  width: 52px;
  float: left;
  clear: both;
  margin: 0 0 0 360px;
  position: absolute;
  bottom: -15px;
  background-color: #675e57;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}
/* line 203, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .more:hover:after, #post .wrap .more:hover:after {
  border-top: 7px #cbc3bd solid;
}
/* line 208, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .more:after, #post .wrap .more:after {
  content: " ";
  height: 0;
  width: 0;
  border-top: 7px #3f3636 solid;
  border-right: 7px transparent solid;
  border-left: 7px transparent solid;
  position: absolute;
  top: 0px;
  left: 38%;
}
/* line 220, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .content, #post .wrap .content {
  float: left;
  width: 780px;
  padding: 16px 20px 9px 20px;
}
/* line 224, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .content p, #post .wrap .content p {
  margin: 0;
}
/* line 228, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .content .header, #post .wrap .content .header {
  font-family: "Georgia1 Italic", serif;
  color: white;
  margin: 0;
  font-size: 26px;
  border-bottom: 1px solid #7e756f;
  padding: 0 0 17px 0;
  line-height: 9px;
}
/* line 237, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .content .header a, #post .wrap .content .header a {
  color: #f2f2f2;
  font-weight: normal;
}
/* line 242, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .content .text, #post .wrap .content .text {
  font-family: "Arial", sans-serif;
  color: #f2f2f2;
  float: left;
  clear: both;
  padding: 8px 0 0 0;
  font-size: 15px;
  line-height: 19px;
  overflow: hidden;
  height: 80px;
}
/* line 252, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .content .text.closed, #post .wrap .content .text.closed {
  height: 90px;
}
/* line 255, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .content .text.opened, #post .wrap .content .text.opened {
  height: auto;
}
/* line 258, ../../../app/assets/stylesheets/v2/_posts.scss */
.post .wrap .content .text p, #post .wrap .content .text p {
  margin: 0 0 1em 0;
}

/* line 1, ../../../app/assets/stylesheets/v2/_forms.scss */
input[type=submit] {
  -moz-box-shadow: inset 0px 0px 0px 0px #c1ed9c;
  -webkit-box-shadow: inset 0px 0px 0px 0px #c1ed9c;
  box-shadow: inset 0px 0px 0px 0px #c1ed9c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #709c00), color-stop(1, #608900));
  background: -moz-linear-gradient(center top, #709c00 5%, #608900 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#709c00', endColorstr='#608900');
  background-color: #709c00;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  padding: 8px 15px;
  text-decoration: none;
  border: none;
  font-family: "Georgia1 Italic", serif;
  height: 40px;
  width: 340px;
  margin-top: 25px;
  cursor: pointer;
  font-size: 17px;
}
/* line 53, ../../../app/assets/stylesheets/globals/_mixins.scss */
input[type=submit]:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #608900), color-stop(1, #709c00));
  background: -moz-linear-gradient(center top, #608900 5%, #709c00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#608900', endColorstr='#709c00');
  background-color: #608900;
}
/* line 59, ../../../app/assets/stylesheets/globals/_mixins.scss */
input[type=submit]:active {
  position: relative;
  top: 1px;
}

/* line 11, ../../../app/assets/stylesheets/v2/_forms.scss */
input[type=text], input[type=password], input[type=email] {
  font-family: "Georgia1 Italic", serif;
  background: #e7e7e7;
  padding: 0 0 0 10px;
  width: 330px;
  border: none;
  border-radius: 3px;
  display: block;
  font-size: 18px;
  height: 40px;
}

/* line 23, ../../../app/assets/stylesheets/v2/_forms.scss */
textarea {
  font-family: "Georgia1 Italic", serif;
  background: #e7e7e7;
  padding: 10px 0 0 10px;
  width: 330px;
  border: none;
  border-radius: 3px;
  display: block;
  font-size: 16px;
}

/* line 34, ../../../app/assets/stylesheets/v2/_forms.scss */
select {
  font-family: "Georgia1 Italic", serif;
  background: #e7e7e7;
  border: none;
  height: 40px;
  padding: 0px 0px 0px 9px;
  display: block;
  width: 220px;
  font-size: 18px;
}

/* line 45, ../../../app/assets/stylesheets/v2/_forms.scss */
label {
  font-family: "Georgia1 Italic", serif;
  color: #f2f2f2;
  display: block;
  font-size: 17px;
  margin-top: 10px;
  padding: 0 0 5px 15px;
}

/* line 54, ../../../app/assets/stylesheets/v2/_forms.scss */
#login {
  padding-left: 240px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 700px;
  margin-top: 70px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #login {
  overflow-x: hidden;
}
/* line 59, ../../../app/assets/stylesheets/v2/_forms.scss */
#login form {
  width: 299px;
  border-right: 1px solid #8f8580;
  float: left;
}
/* line 65, ../../../app/assets/stylesheets/v2/_forms.scss */
#login .info {
  width: 280px;
  margin: 0 0 0 21px;
  color: #e7e7e7;
  float: left;
}
/* line 70, ../../../app/assets/stylesheets/v2/_forms.scss */
#login .info .or_enter {
  font-family: "Georgia1 Italic", serif;
}
/* line 76, ../../../app/assets/stylesheets/v2/_forms.scss */
#login .register p {
  color: #e7e7e7;
}
/* line 80, ../../../app/assets/stylesheets/v2/_forms.scss */
#login .soc-icon {
  margin: 0 11px 0 0;
}
/* line 84, ../../../app/assets/stylesheets/v2/_forms.scss */
#login p {
  margin: 5px 0 7px 0;
}
/* line 88, ../../../app/assets/stylesheets/v2/_forms.scss */
#login .forgot-password {
  color: gray;
  font-size: 0.9em;
  margin-left: 85px;
}
/* line 94, ../../../app/assets/stylesheets/v2/_forms.scss */
#login .register {
  font-family: "Georgia1 Italic", serif;
  float: left;
  font-size: 17px;
  margin: 20px 0 0 215px;
}
/* line 99, ../../../app/assets/stylesheets/v2/_forms.scss */
#login .register a {
  margin: 0 0 0 20px;
  color: gray;
  text-decoration: none;
}
/* line 103, ../../../app/assets/stylesheets/v2/_forms.scss */
#login .register a:hover {
  text-decoration: underline;
}
/* line 109, ../../../app/assets/stylesheets/v2/_forms.scss */
#login input[type=text], #login input[type=password] {
  padding-left: 10px;
  width: 270px;
}
/* line 114, ../../../app/assets/stylesheets/v2/_forms.scss */
#login input[type=submit] {
  width: 280px;
}
/* line 118, ../../../app/assets/stylesheets/v2/_forms.scss */
#login input {
  display: block;
}
/* line 122, ../../../app/assets/stylesheets/v2/_forms.scss */
#login h1 {
  font-family: "Georgia1 Italic", serif;
  color: #aaa29d;
  text-align: center;
  margin-right: 100px;
}

/* line 131, ../../../app/assets/stylesheets/v2/_forms.scss */
#registration {
  padding-left: 240px;
  display: inline;
  float: left;
  margin-right: 20px;
  width: 400px;
  margin-top: 55px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #registration {
  overflow-x: hidden;
}
/* line 135, ../../../app/assets/stylesheets/v2/_forms.scss */
#registration h1 {
  font-family: "Georgia1 Italic", serif;
  color: #aaa29d;
  text-align: center;
  margin-left: 60px;
}
/* line 141, ../../../app/assets/stylesheets/v2/_forms.scss */
#registration input, #registration label {
  margin-left: 60px;
}

/* line 147, ../../../app/assets/stylesheets/v2/_forms.scss */
#new-post input[type=submit], #edit-post input[type=submit] {
  cursor: pointer;
}
/* line 150, ../../../app/assets/stylesheets/v2/_forms.scss */
#new-post #post_title, #new-post #post_genre, #edit-post #post_title, #edit-post #post_genre {
  margin-bottom: 20px;
}
/* line 153, ../../../app/assets/stylesheets/v2/_forms.scss */
#new-post #post_content, #edit-post #post_content {
  width: 100%;
  font-family: "Arial", sans-serif;
}
/* line 157, ../../../app/assets/stylesheets/v2/_forms.scss */
#new-post .info, #edit-post .info {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 400px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #new-post .info, * html #edit-post .info {
  overflow-x: hidden;
}
/* line 160, ../../../app/assets/stylesheets/v2/_forms.scss */
#new-post .content, #edit-post .content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 460px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p429@litbed/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #new-post .content, * html #edit-post .content {
  overflow-x: hidden;
}
/* line 163, ../../../app/assets/stylesheets/v2/_forms.scss */
#new-post input[type=checkbox], #edit-post input[type=checkbox] {
  float: left;
}

/* line 1, ../../../app/assets/stylesheets/v2/_dropdown.scss */
.dropdown {
  position: absolute;
  z-index: 9999999;
  display: none;
}
/* line 6, ../../../app/assets/stylesheets/v2/_dropdown.scss */
.dropdown .dropdown-menu {
  min-width: 160px;
  max-width: 360px;
  list-style: none;
  background: #FFF;
  border: solid 1px #dddddd;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: visible;
  padding: 4px 0;
  margin: 0;
}
/* line 20, ../../../app/assets/stylesheets/v2/_dropdown.scss */
.dropdown .dropdown-panel {
  min-width: 160px;
  max-width: 360px;
  list-style: none;
  background: #FFF;
  border: solid 1px #dddddd;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: visible;
  padding: 4px 0;
  margin: 0;
  padding: 10px;
}
/* line 35, ../../../app/assets/stylesheets/v2/_dropdown.scss */
.dropdown.dropdown-tip {
  margin-top: 8px;
}
/* line 37, ../../../app/assets/stylesheets/v2/_dropdown.scss */
.dropdown.dropdown-tip:before {
  position: absolute;
  top: -6px;
  left: 9px;
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cccccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
}
/* line 48, ../../../app/assets/stylesheets/v2/_dropdown.scss */
.dropdown.dropdown-tip.dropdown-anchor-right:before {
  left: auto;
  right: 9px;
}
/* line 52, ../../../app/assets/stylesheets/v2/_dropdown.scss */
.dropdown.dropdown-tip:after {
  position: absolute;
  top: -5px;
  left: 10px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  display: inline-block;
}
/* line 62, ../../../app/assets/stylesheets/v2/_dropdown.scss */
.dropdown.dropdown-tip.dropdown-anchor-right:after {
  left: auto;
  right: 10px;
}
/* line 68, ../../../app/assets/stylesheets/v2/_dropdown.scss */
.dropdown.dropdown-scroll .dropdown-menu, .dropdown.dropdown-scroll .dropdown-panel {
  max-height: 358px;
  overflow: auto;
}
/* line 74, ../../../app/assets/stylesheets/v2/_dropdown.scss */
.dropdown .dropdown-menu LI {
  list-style: none;
  padding: 0 0;
  margin: 0;
  line-height: 18px;
}
/* line 79, ../../../app/assets/stylesheets/v2/_dropdown.scss */
.dropdown .dropdown-menu LI > A {
  display: block;
  color: #555;
  text-decoration: none;
  line-height: 18px;
  padding: 3px 15px;
  white-space: nowrap;
}
/* line 88, ../../../app/assets/stylesheets/v2/_dropdown.scss */
.dropdown .dropdown-menu LABEL {
  display: block;
  color: #555;
  text-decoration: none;
  line-height: 18px;
  padding: 3px 15px;
  white-space: nowrap;
}
/* line 96, ../../../app/assets/stylesheets/v2/_dropdown.scss */
.dropdown .dropdown-menu LI > A:hover, .dropdown .dropdown-menu LABEL:hover {
  background-color: #08C;
  color: #FFF;
  cursor: pointer;
}
/* line 101, ../../../app/assets/stylesheets/v2/_dropdown.scss */
.dropdown .dropdown-menu .dropdown-divider {
  font-size: 1px;
  border-top: solid 1px #e5e5e5;
  padding: 0;
  margin: 5px 0;
}

/* line 110, ../../../app/assets/stylesheets/v2/_dropdown.scss */
#user-dropdown {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  margin: 20px 0 0 -65px;
}
/* line 114, ../../../app/assets/stylesheets/v2/_dropdown.scss */
#user-dropdown a {
  font-weight: normal;
  font-size: 1em;
}
/* line 118, ../../../app/assets/stylesheets/v2/_dropdown.scss */
#user-dropdown .dropdown-menu {
  background: #f2f2f2;
}
/* line 120, ../../../app/assets/stylesheets/v2/_dropdown.scss */
#user-dropdown .dropdown-menu li {
  padding: 3px 0;
}
/* line 123, ../../../app/assets/stylesheets/v2/_dropdown.scss */
#user-dropdown .dropdown-menu li > a, #user-dropdown .dropdown-menu label {
  color: #666;
}
/* line 125, ../../../app/assets/stylesheets/v2/_dropdown.scss */
#user-dropdown .dropdown-menu li > a:hover, #user-dropdown .dropdown-menu label:hover {
  background-color: #3f3636;
  color: #fff;
}
/* line 131, ../../../app/assets/stylesheets/v2/_dropdown.scss */
#user-dropdown.dropdown-tip:after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #f2f2f2;
  left: 85px;
}
/* line 137, ../../../app/assets/stylesheets/v2/_dropdown.scss */
#user-dropdown.dropdown-tip:before {
  border: none;
}

/* line 25, ../../../app/assets/stylesheets/v2/_import.scss */
.clearfix {
  clear: both;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 98, ../../../app/assets/stylesheets/v2/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
/* line 104, ../../../app/assets/stylesheets/v2/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 116, ../../../app/assets/stylesheets/v2/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 125, ../../../app/assets/stylesheets/v2/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 135, ../../../app/assets/stylesheets/v2/main.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 155, ../../../app/assets/stylesheets/v2/main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 171, ../../../app/assets/stylesheets/v2/main.scss */
.clearfix {
  *zoom: 1;
}
/* line 172, ../../../app/assets/stylesheets/v2/main.scss */
.clearfix:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 178, ../../../app/assets/stylesheets/v2/main.scss */
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 213, ../../../app/assets/stylesheets/v2/main.scss */
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 220, ../../../app/assets/stylesheets/v2/main.scss */
  a {
    text-decoration: underline;
  }
  /* line 222, ../../../app/assets/stylesheets/v2/main.scss */
  a:visited {
    text-decoration: underline;
  }
  /* line 225, ../../../app/assets/stylesheets/v2/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 229, ../../../app/assets/stylesheets/v2/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 235, ../../../app/assets/stylesheets/v2/main.scss */
  .ir a:after {
    content: "";
  }

  /* line 239, ../../../app/assets/stylesheets/v2/main.scss */
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 243, ../../../app/assets/stylesheets/v2/main.scss */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 247, ../../../app/assets/stylesheets/v2/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 251, ../../../app/assets/stylesheets/v2/main.scss */
  tr {
    page-break-inside: avoid;
  }

  /* line 254, ../../../app/assets/stylesheets/v2/main.scss */
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 262, ../../../app/assets/stylesheets/v2/main.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 266, ../../../app/assets/stylesheets/v2/main.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/*


 */

