#head
  = link_to root_path, id: 'logo' do
    = image_tag "logo-v2.png"
  %ul#nav
    %li{class: ('current' if current_page?(posts_path) || current_page?(root_path))}
      = link_to t('common.posts'), posts_path

    -if user_signed_in?
      %li{class: ("current" if current_page?(new_post_path))}
        = link_to t("common.new_post"), new_post_path

    %li{class: ("current" if current_page?(list_user_registrations_path))}
      = link_to t('common.authors'), list_user_registrations_path
    - unless user_signed_in?
      %li{class: ("current" if current_page?(new_user_session_path))}
        = link_to t('common.login'), new_user_session_path
      %li{class: ("current" if current_page?(new_user_registration_path))}
        = link_to t('common.registration'), new_user_registration_path
  - if user_signed_in?
    #user
      %a{href: "javascript:void(0);", :"data-dropdown" => "#user-dropdown"}
        = image_tag current_user.avatar
      #user-dropdown.dropdown.dropdown-tip
        %ul.dropdown-menu
          %li
            = link_to t('common.profile'), show_user_registration_path(current_user)
          %li
            = link_to t('common.my_posts'), user_posts_path(current_user)
          %li 
            = link_to t('common.inbox'), messages_inbox_path
          %li 
            = link_to t('common.bookmarks'), bookmarks_path
          %li 
            = link_to t('common.logout'), destroy_user_session_path, method: :delete
  -# #search-btn
    = image_tag "icons/search.png"
