= javascript_include_tag "application.js"
= yield :activerecord_js_messages
= yield :view_js
- if flash[:notice]
  :javascript
    noty(#{ raw({text: flash[:notice], type: "alert", timeout: 1000}.to_json) })
- if flash[:alert]
  :javascript
    noty(#{ raw({text: flash[:alert], type: "warning"}.to_json) })
- if flash[:error]
  :javascript
    noty(#{ raw({text: flash[:error], type: "error"}.to_json) })
