<script language="javascript" type="text/javascript">
  jQuery(document).ready(function(){
    <% js_notifications.each do |notification| %> 
      noty(<%= raw notification %>);
    <% end %>
  });
</script>
