<noscript>
  <%= t('common.there_were_errors') %>
  <ul class="activerecord_errors">
    <% nojs_notifications.each do |notification| %>
      <li>
        <%= notification %>
      </li>
    <% end %>
  </ul>
</noscript>
