%noscript
  #nojs_nav
    %ul
      - if user_signed_in?
        %li
          = link_to t('common.my_profile'), show_user_registration_path(current_user)
        %li
          = link_to t('common.bookmarks'), bookmarks_path
        %li
          = link_to t('common.my_messages'), messages_inbox_path
        %li
          = link_to t('common.logout'), destroy_user_session_get_path
        -# %li
          %form
            %input{type: "text", placeholder: "Пошук"}
            %input{type: "submit", value: "Ok"}
  .flash-messages
    - if flash[:notice] || flash[:alert] || flash[:error]
      .messages
        Повідомлення:
      .flash-notice=flash[:notice]
      .flash-alert=flash[:alert]
      .flash-error=flash[:error]
