:css
  #page #content h2 a {
    font-weight: normal;
  }
.links
  %h2= link_to t('common.write'), messages_write_path
  %h2= link_to t('common.incoming'), messages_inbox_path
  %h2= link_to t('common.outcoming'), messages_outbox_path
  %h2= link_to t('common.deleted'), messages_deleted_path
