.messages
  %div
    - case params[:action]
      - when "inbox"
        Вхідні повідомлення:
      - when "outbox"
        Вихідні повідомлення:
      - when "deleted"
        Видалені повідомлення:
    %br/
    - if messages && messages.any?
      %ul
        - messages.each do |msg|
          %li
            = msg.body
            %br/
            - case params[:action]
              - when 'deleted'
                = link_to t('common.delete'), message_delete_permanent_path(msg)
              - else
                = link_to t('common.delete'), message_delete_path(msg)
            %br/
            - case params[:action]
              - when 'inbox'
                != t 'common.messages.written', 
                  author: msg.sent_messageable.nickname, 
                  recipient: t('common.messages.meto'),
                  time: msg.created_at.strftime("%Y/%m/%d %H:%I:%M")
              - when 'outbox'
                != t 'common.messages.written',
                  author: t('common.i'),
                  recipient: msg.received_messageable.nickname,
                  time: msg.created_at.strftime("%Y/%m/%d %H:%I:%M")
              - when 'deleted'
                != t 'common.messages.written',
                  author: msg.sent_messageable.nickname,
                  recipient: msg.received_messageable.nickname,
                  time: msg.created_at.strftime("%Y/%m/%d %H:%I:%M")
    - else
      Повідомлень немає :(
