.inbox
  = render 'links'
  = form_tag messages_send_path do
    = text_field_tag :recipients, nil, style: "margin-top:15px;", placeholder: t('common.recipients')
    %br/
    = text_area_tag :body, nil, style: "margin-top: 15px;", cols: 35, rows: 5
    %br/
    = submit_tag t('common.send'), style: "margin-top:15px;"
