#password-recovering
  %h1 Забули свій пароль?
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!

    = f.label :email, "Введіть сюди свій email"
    = f.email_field :email, :autofocus => true
    %br/

    = f.submit "Відновити пароль"
