#comments
  %h1=t('common.comments')
  - if post.root_comments.any?
    - post.root_comments.each do |comment|
      .comment
        .info
          %span.author= comment.user.nickname
          %span.created_at= comment.created_at.to_s
        .content= comment.body
  - else
    = t('common.no_comments')
  .clearfix
  - if user_signed_in?
    %hr/
    = form_for :comment, url: comment_post_path(post), method: :post do |f|
      = f.label t('common.your_comment')
      %br/
      = f.text_area :body, rows: 5
      %br/
      = f.submit t('common.send')
