-# User section
- if user_signed_in?
  .vote{style: 'display:none;'}
    = link_to "+", vote_post_up_path(post), class: "plus", method: :post
    %hr
    = link_to "-", vote_post_down_path(post), class: "minus", method: :post
.author
  = link_to image_tag(post.user.avatar), show_user_registration_path(post.user)
  = link_to post.user.nickname, show_user_registration_path(post.user), class: 'nickname'
  
  -# Rating under user avatar
  .rating
    %i.icn1.icn-author_rating
    %span.text1= post.user.rating
    %i.icn2.icn-author_posts
    %span.text2= post.user.posts.count

-# Content wrapper
.wrap
  .meta
    %i.icn1.icn-views
    %span.text 0
    %i.icn2.icn-comments
    %span.text= post.comment_threads.count
    %i.icn3.icn-rating
    %span.text= post.rating
    %i.icn4.icn-people_voted
    %span.text 0
    %span.genre= post.i18n_genre
    - if user_signed_in?
      %a.bookmark{href: "javascript:void(0);"}
    %span.date 2013/05/23
  .content
    %h1.header
      = link_to post.title, post_path(post.id)
      - if post.belongs_to?(current_user)
        = link_to '', edit_post_path(post), class: "icn16w-pencil"
      %noscript
        %a{href: "javascript:void(0);"} -
        %a{href: "javascript:void(0);"} +

    -# post content
    .text{class: (one_post_page? ? "opened" : '')}
      = simple_format(post.content)
  - if params[:action] == 'index'
    .more
.clearfix
