%h1=t('common.pages.new_post')
= form_for @post, url: posts_path, html: { id: 'new-post' } do |f|
  .info
    = f.label :title
    = f.text_field :title

    = f.label :genre
    = f.select :genre, f.object.genres_for_select { |genre| t(".#{genre}") }

    = f.check_box :published
    = f.label :published

    = f.submit t('common.send')

  .content
    = f.label :content
    = f.text_area :content
