- if Rails.env == 'development' && SiteConfig.debug
  #debug{style: 'background: white; width:100%; display:block;'}
    =link_to 'Reload settings', reload_settings_path
    =link_to 'Authorize Vkontakte', user_omniauth_authorize_path(:vkontakte)
