!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    = stylesheet_link_tag "application.css"
    = csrf_meta_tags
  %body
    = render "shared/chrome-frame"
    - if SiteConfig.debug
      = debug_args params, flash
    #page
      #head-wrapper
        = render 'shared/head'
      = render 'shared/nojs_nav'
      #content
        = yield
      #page-footer
    #footer-wrapper
      #footer
        .left
          = link_to root_path do
            = image_tag "logo-white-font.png"
          .text
            Місце зустрічі талановитих письменників
            і любителів літератури. Діліться своєю творістю
            і плекайте рідну українську мову :)
            <br/><br/>
            Слава Україні!
        .right
          %p.bigger Сайт розробили:
          %p
            %span.highlight media_slave
            \- програмування
          %p
            %span.highlight Віталій Петрушенко
            \- дизайн
          %p
            %span.highlight Вищі сили
            \- натхнення, креатив, інша помічь :)

        .copyright
          Всі права на твори належать їх авторам.
          Відповідальність за вміст творів несуть їх автори.
    = render "shared/javascripts"
