-content_for :title do
  = t('.Profile')
  %a.small{href: "#"}
    Відредагувати

#profile
  %span 
    =t( random '.MyNameIs1', '.MyNameIs2', '.MyNameIs3' )
    %b#fullname=current_user.fullname
  %br/

  %span
    =t( random '.MyNickname1', '.MyNickname2', '.MyNickname3', '.MyNickname4' )
    %b#nickname=current_user.nickname
  %br/

  -if current_user.vk?
    %span
      !=t('.FromVK')
    %br/
    %br/

  %span=t('.MyUserpic')
  %br/
  %a{:href => "javascript:void(0);", style: 'text-decoration:none;'}
    = image_tag current_user.avatar, :class => 'tooltip', :title => t('.ChangeUserPic?')
  %br/
  %br/
  %span
    - if current_user.posts.any?
      Завантажено:
      %a{:href => "javascript:void(0);"}
        - count = current_user.posts.count

        = count
        = ukr_count(count, first: t('.Posts1'), second: t('.Posts2'), else: t('.Posts3'))

      -# з них
      -# %a{:href => "javascript:void(0);"} один
      -# вірш і
      -# %a{:href => "javascript:void(0);"} дві
      -# прози.
    - else
      = t('.NoPostsHere1')
