%h1 Автори
%ul
  - @users.each do |user|
    %li
      = link_to user.nickname, show_user_registration_path(user)
      (Творів: #{user.posts.count}, Дата реєстрації: #{ user.created_at.strftime('%d.%m.%y') })
