- content_for :view_js do
  :javascript
    jQuery(document).ready(function($){
      return false;
      $('#head-wrapper').css('display', 'none');
      window.startEvent = 0;
      $(window).mousemove(function(e){
        var now = new Date().getTime();
        console.log([now, startEvent, now - startEvent]);
        if(now - startEvent > 300) {
          window.startEvent = new Date().getTime();
          if(e.pageY <= 65) {
            $('#head-wrapper').slideDown();
          }
          else {
            $('#head-wrapper').slideUp();
          }
        }
      });
    });
#registration
  - if resource.errors.any?
    = render_js_notifications resource.errors.full_messages, layout: "topRight", type: "warning"
    = render_nojs_notifications resource.errors.full_messages
  =form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = link_to root_path do
      = image_tag 'logo-white-font.png'
    %h1=t('common.registration')

    =f.label :fullname, t('common.name_surname')
    =f.text_field :fullname, :autofocus => true

    =f.label :nickname, t('common.pseudonim_nick')
    =f.text_field :nickname

    =f.label :email
    =f.text_field :email

    =f.label :password
    =f.password_field :password

    =f.label :password_confirmation
    =f.password_field :password_confirmation

    =f.submit t('shared.dialogs.Register')
