%h1 Профіль
#profile
  %span 
    =t( random '.MyNameIs1', '.MyNameIs2', '.MyNameIs3' )
    %b#fullname=@user.fullname
  %br/

  %span
    =t( random '.MyNickname1', '.MyNickname2', '.MyNickname3', '.MyNickname4' )
    %b#nickname=@user.nickname
  %br/

  %span=t('.MyUserpic')
  %br/
  %a{:href => "javascript:void(0);", style: 'text-decoration:none;'}
    = image_tag @user.avatar, :class => 'tooltip', :title => t('.ChangeUserPic?')
  %br/
  %br/
  %span
    - if @user.posts.any?
      Завантажено:
      = link_to posts_path(:sort => { :user => @user.id }) do
        - count = @user.posts.count

        = count
        = ukr_count(count, first: t('.Posts1'), second: t('.Posts2'), else: t('.Posts3'))
    - else
      = t('.NoPostsHere1')
